.flex-right{
    display: flex;
    justify-content: flex-end;
  }
.flex-center{
  display: flex;
  justify-content: center;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
.flex-vertical-bottom {
  display: flex;
  align-items:flex-end;
}